<!DOCTYPE html>
<html>
	<head>
		<title>A Fresh Perk App</title>
		<link rel="stylesheet" href="<%= env === 'development' ? '/styles/main.scss.css' : '/styles/main.scss.min.css?'+version %>" />

	</head>
	<body>
		<h1>Six Degrees</h1>
		<p>Lorem ipsum drummer paradiddle stick drumhead cymbal-bag stick crash pedal. Rudiment sticking flam grace-note flam flam paraddidle-diddle practice. Metronome beeping practice pad journal sticktape gum-rubber. Ratamacue inverted roll note rhythm phrase china. Inverted cheese flamacue hi-hat multiple bounce roll. Dragadiddle flam accent grid cheese inverts. Swiss-army triplet timing flam drags. Flammed-fives tachuda swiss sticking bass-drum inverted diddles.</p>
		<script type="text/javascript" src="<%= env === 'development' ? '/scripts/bundle.js' : '/scripts/bundle.min.js?'+version %>"></script>
	</body>
</html>
